---
// import GitHubIcon from './icons/GitHub.astro';
import CSSIcon from './icons/CSS.astro';
import HTMLIcon from './icons/HTML.astro';
import JavascriptIcon from './icons/JavaScript.astro';
import WebIcon from './icons/Web.astro';
import ReactIcon from './icons/React.astro';
import PostgresSQLIcon from './icons/PostgreSQL.astro';
import DjangoIcon from './icons/Django.astro';
import MaterialUIIcon from './icons/MaterialUI.astro';
import LinkButton from '@/components/LinkButton.astro';
import WordpressIcon from './icons/Wordpress.astro';
import ElementorIcon from './icons/Elementor.astro';
import SupabaseIcon from './icons/Supabase.astro';
import ShadcnIcon from './icons/Shadcn.astro';
import TypeScriptIcon from './icons/TypeScript.astro';
import Astroicon from './icons/Astroicon.astro';
import TailwindIcon from './icons/Tailwind.astro';

const TAGS = {
  HTML: {
    name: 'HTML',
    class: 'bg-white/5 text-white',
    icon: HTMLIcon,
  },
  CSS: {
    name: 'CSS',
    class: 'bg-white/5 text-white',
    icon: CSSIcon,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-white/5 text-white',
    icon: JavascriptIcon,
  },
  REACTJS: {
    name: 'ReactJS',
    class: 'bg-white/5 text-white',
    icon: ReactIcon,
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    class: 'bg-white/5 text-white',
    icon: PostgresSQLIcon,
  },
  DJANGO: {
    name: 'Django',
    class: 'bg-white/5 text-white',
    icon: DjangoIcon,
  },
  MATERIALUI: {
    name: 'MaterialUI',
    class: 'bg-white/5 text-white',
    icon: MaterialUIIcon,
  },
  WORDPRESS: {
    name: 'Wordpress',
    class: 'bg-white/5 text-white',
    icon: WordpressIcon,
  },
  ELEMENTOR: {
    name: 'Elementor',
    class: 'bg-white/5 text-white',
    icon: ElementorIcon,
  },
  SUPABASE: {
    name: 'Supabase',
    class: 'bg-white/5 text-white',
    icon: SupabaseIcon,
  },
  SHADCN: {
    name: 'shadcn/ui',
    class: 'bg-white/5 text-white',
    icon: ShadcnIcon,
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-white/5 text-white',
    icon: TypeScriptIcon,
  },
  ASTRO: {
    name: 'Astro',
    class: 'bg-white/5 text-white',
    icon: Astroicon,
  },
  TAILWIND: {
    name: 'TailwindCSS',
    class: 'bg-white/5 text-white',
    icon: TailwindIcon,
  },
};

const PROJECTS = [
  {
    title: 'Martín Guette - Especialista en Riego Agrícola Sitio web',
    description:
      'Especialista en riego agrícola con más de 30 años de experiencia diseñando e implementando soluciones de riego en la región Caribe de Colombia. Su experiencia abarca sistemas de riego por aspersión, goteo, pozos profundos y soluciones personalizadas para enfrentar la sequía en cultivos y pastoreo. Creado desde cero con Astro, TailwindCSS y JavaScript',
    link: 'https://martinguetteriego.netlify.app/',
    image: '/martinguette_screenshot.webp',
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: 'La Caverna - Cine alternativo en Santa Marta',
    description:
      'La Caverna es una plataforma web que conecta a la comunidad cinematográfica de Santa Marta con experiencias de cine alternativo. Permite a los usuarios explorar programaciones curadas de películas independientes, documentales y cine de autor, reservar espacios para talleres y cine-foros, y participar en una comunidad cultural local. La característica principal es la creación de un ecosistema cultural integral que combina proyecciones, formación crítica y networking en un espacio de autogestión comunitaria.',
    link: 'https://lacavernasantamarta.netlify.app/',
    image: '/lacaverna_screenshot.webp',
    tags: [TAGS.REACTJS, TAGS.TYPESCRIPT, TAGS.SHADCN],
  },
  {
    title: 'CineCollab',
    description:
      'CineCollab es una aplicación web que permite a los usuarios buscar películas y series, ver sus detalles (pósters, sinopsis, tráilers) y crear watchlists colaborativas que pueden compartir con amigos. La característica principal es la colaboración en tiempo real para agregar, eliminar o editar elementos en listas compartidas.',
    link: '#',
    image: '/cinecollab_screenshot.webp',
    tags: [TAGS.REACTJS, TAGS.SUPABASE, TAGS.SHADCN],
  },
  {
    title: 'Dr. Miguel Gómez - Ginecólogo Oncólogo sitio web',
    description:
      'Dr. Miguel Gómez, ginecólogo-oncólogo con más de 20 años de experiencia en Santa Marta y Barranquilla. Especializado en tratamiento integral del cáncer ginecológico. Creado desde cero con HTML, CSS y JavaScript.',
    link: 'https://doctormiguelgomez.com/',
    image: '/dr_miguel_screenshot.webp',
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title:
      'CreaB10 - Sistema de gestión de estructuras de cursos para la plataforma Bloque10.',
    description:
      'CreaB10 es un sistema de gestión de estructuras de creación de cursos para la plataforma Bloque10, que permite a los usuarios y administradores de la plataforma crear y gestionar cursos de forma sencilla y eficiente. Creado desde cero con ReactJS, MaterialUI, Django y PostgreSQL.',
    link: '#',
    image: '/creab10_screenshot_1.webp',
    tags: [TAGS.REACTJS, TAGS.MATERIALUI, TAGS.DJANGO, TAGS.POSTGRESQL],
  },
  {
    title: 'Acreditación Ingeniería de Sistemas - Universidad del Magdalena',
    description:
      'La página del Programa de Ingeniería de Sistemas de la Universidad del Magdalena ofrece una visita virtual de su proceso de acreditación de alta calidad, presentando información sobre el programa, infraestructura, acreditación, galería de imágenes y contenidos creados por estudiantes y docentes. Creado desde cero con Wordpress y Elementor.',
    link: 'https://bloque10.unimagdalena.edu.co/acreditacion-ingenieria-de-sistemas/',
    image: '/sistemas_screenshot.webp',
    tags: [TAGS.WORDPRESS, TAGS.ELEMENTOR],
  },
  {
    title: 'Acreditación Cine y Audiovisuales - Universidad del Magdalena',
    description:
      'La página del Programa de Cine y Audiovisuales de la Universidad del Magdalena ofrece una visita virtual de su proceso de acreditación de alta calidad, presentando información sobre el programa, infraestructura, acreditación, galería de imágenes y contenidos creados por estudiantes y docentes. Creado desde cero con Wordpress y Elementor.',
    link: 'https://bloque10.unimagdalena.edu.co/acreditacion-cine-y-audiovisuales/',
    image: '/cine_screenshot.webp',
    tags: [TAGS.WORDPRESS, TAGS.ELEMENTOR],
  },
];
---

<section class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, image, tags, link }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2 border border dark:border-white/10 border-gray-300`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 aspect-video"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        <footer class="flex gap-x-4 items-end justify-start mt-4">
          {/* {github && (
            <LinkButton href={github}>
              <GitHubIcon class="size-6" />
              {title === 'CineCollab' ? 'Pronto' : 'Ver código fuente'}
            </LinkButton>
          )} */}
          <LinkButton href={link}>
            <WebIcon />
            {title === 'CineCollab' ? 'Pronto' : 'Ir al sitio web'}
          </LinkButton>
        </footer>
      </article>
    ))
  }
</section>
