---
import CSSIcon from './icons/CSS.astro';
import GitHubIcon from './icons/GitHub.astro';
import HTMLIcon from './icons/HTML.astro';
import JavascriptIcon from './icons/JavaScript.astro';
import WebIcon from './icons/Web.astro';
import ReactIcon from './icons/React.astro';
import PostgresSQLIcon from './icons/PostgreSQL.astro';
import DjangoIcon from './icons/Django.astro';
import MaterialUIIcon from './icons/MaterialUI.astro';
import LinkButton from '@/components/LinkButton.astro';
import WordpressIcon from './icons/Wordpress.astro';
import ElementorIcon from './icons/Elementor.astro';
import SupabaseIcon from './icons/Supabase.astro';

const TAGS = {
  HTML: {
    name: 'HTML',
    class: 'bg-white/5 text-white',
    icon: HTMLIcon,
  },
  CSS: {
    name: 'CSS',
    class: 'bg-white/5 text-white',
    icon: CSSIcon,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-white/5 text-white',
    icon: JavascriptIcon,
  },
  REACTJS: {
    name: 'ReactJS',
    class: 'bg-white/5 text-white',
    icon: ReactIcon,
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    class: 'bg-white/5 text-white',
    icon: PostgresSQLIcon,
  },
  DJANGO: {
    name: 'Django',
    class: 'bg-white/5 text-white',
    icon: DjangoIcon,
  },
  MATERIALUI: {
    name: 'MaterialUI',
    class: 'bg-white/5 text-white',
    icon: MaterialUIIcon,
  },
  WORDPRESS: {
    name: 'Wordpress',
    class: 'bg-white/5 text-white',
    icon: WordpressIcon,
  },
  ELEMENTOR: {
    name: 'Elementor',
    class: 'bg-white/5 text-white',
    icon: ElementorIcon,
  },
  SUPABASE: {
    name: 'Supabase',
    class: 'bg-white/5 text-white',
    icon: SupabaseIcon,
  },
};

const PROJECTS = [
  {
    title: 'CineCollab',
    description:
      'CineCollab es una aplicación web que permite a los usuarios buscar películas y series, ver sus detalles (pósters, sinopsis, tráilers) y crear watchlists colaborativas que pueden compartir con amigos. La característica principal es la colaboración en tiempo real para agregar, eliminar o editar elementos en listas compartidas.',
    link: '#',
    github: '#',
    image: '/dr_miguel_screenshot.webp',
    tags: [TAGS.REACTJS, TAGS.SUPABASE],
  },
  {
    title: 'Dr. Miguel Gómez - Ginecólogo Oncólogo sitio web',
    description:
      'Dr. Miguel Gómez, ginecólogo-oncólogo con más de 20 años de experiencia en Santa Marta y Barranquilla. Especializado en tratamiento integral del cáncer ginecológico. Creado desde cero con HTML, CSS y JavaScript.',
    link: 'https://doctormiguelgomez.com/',
    github: 'https://github.com/martinchuck/doctor_miguel_gomez',
    image: '/dr_miguel_screenshot.webp',
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title:
      'CreaB10 - Sistema de gestión de estructuras de cursos para la plataforma Bloque10.',
    description:
      'CreaB10 es un sistema de gestión de estructuras de creación de cursos para la plataforma Bloque10, que permite a los usuarios y administradores de la plataforma crear y gestionar cursos de forma sencilla y eficiente. Creado desde cero con ReactJS, MaterialUI, Django y PostgreSQL.',
    github: '#',
    link: '#',
    image: '/creab10_screenshot_1.webp',
    tags: [TAGS.REACTJS, TAGS.MATERIALUI, TAGS.DJANGO, TAGS.POSTGRESQL],
  },
  {
    title: 'Acreditación Ingeniería de Sistemas - Universidad del Magdalena',
    description:
      'La página del Programa de Ingeniería de Sistemas de la Universidad del Magdalena ofrece una visita virtual de su proceso de acreditación de alta calidad, presentando información sobre el programa, infraestructura, acreditación, galería de imágenes y contenidos creados por estudiantes y docentes. Creado desde cero con Wordpress y Elementor.',
    link: 'https://bloque10.unimagdalena.edu.co/acreditacion-ingenieria-de-sistemas/',
    image: '/sistemas_screenshot.webp',
    tags: [TAGS.WORDPRESS, TAGS.ELEMENTOR],
  },
  {
    title: 'Acreditación Cine y Audiovisuales - Universidad del Magdalena',
    description:
      'La página del Programa de Cine y Audiovisuales de la Universidad del Magdalena ofrece una visita virtual de su proceso de acreditación de alta calidad, presentando información sobre el programa, infraestructura, acreditación, galería de imágenes y contenidos creados por estudiantes y docentes. Creado desde cero con Wordpress y Elementor.',
    link: 'https://bloque10.unimagdalena.edu.co/acreditacion-cine-y-audiovisuales/',
    image: '/cine_screenshot.webp',
    tags: [TAGS.WORDPRESS, TAGS.ELEMENTOR],
  },
];
---

<section class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, image, tags, link, github }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2 border border dark:border-white/10 border-gray-300`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 aspect-video"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        <footer class="flex gap-x-4 items-end justify-start mt-4">
          {github && (
            <LinkButton href={github}>
              <GitHubIcon class="size-6" />
              Ver código fuente
            </LinkButton>
          )}
          <LinkButton href={link}>
            <WebIcon />
            Ir al sitio web
          </LinkButton>
        </footer>
      </article>
    ))
  }
</section>
